.container{
  border-radius: 8px;
  padding: 16px;
  background-color: rgb(252, 252, 252);
}

.table{
  border-collapse: collapse;
}

.cell{
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
  border-right: 3px solid black;
}
.cell:nth-child(1){
  border-left: 3px solid black;
}
.table tr:nth-child(3),
.table tr:nth-child(6),
.table tr:nth-child(9){
  border-bottom: 3px solid black;
}
.table tr:nth-child(1){
  border-top: 3px solid black;
}
input{
  width: 50px;
  height: 50px;
  text-align:center;
  font-size: 23px;
  border: none;
  outline: none;
  background: inherit;
  color:black;
  cursor:default;
}

input:focus{
  caret-color: transparent;
  background:rgb(48, 159, 196);
}

.same-row, .same-col, .same-box{
  background: lightblue;
}

.status{
  font-weight: bold;
  position:absolute;
  top:10px;
  background-color: black;
  padding:10px 25px;
  border-radius: 10px;
  left: 50%;
  transform:translate(-50%);
}

.green{
  background-color: rgb(143, 236, 185);
  transition: background-color 0.3s ease;
}